Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

*Languages for data science

*Libraries for data science

*Application Programming Interfaces

*Jupyter Architecture

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| VS Code with Python    |

Below are a few examples of evaluating arithmetic expressions in Python;


1+1=2 1-1=0 1*1=1

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Author


Anthony Opoku